@charset "utf-8";
/* CSS Document */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
    text-align:center;
	margin: 0;
    padding: 10em 0;
    /*padding-left: 10em;*/
}

#left {
  background-image: url('klaviatura.png');
  background-position: left center;
  background-repeat:no-repeat;
  height: 100%;
}

#right {
  background-image: url('uzraksts.png');
  background-position: right top;
  background-repeat:no-repeat;
}

#bottom {
  background-image: url('bottom.png');
  background-position: center bottom;
  background-repeat:no-repeat;
}